<div x-data x-init="$dispatch('AboutLoaded')" hx-trigger="load" hx-get="/resources/partials/footer.html" hx-target="#footer" class="grid grid-cols-1 md:grid-cols-6 gap-2">
    <div data-aos="fade-right" class="bg-custom-900 md:col-span-2 p-6 rounded">
        <h1 class="font-bold block mb-3 text-3xl">About Me</h1>
        <p class="text-md">I am Ryan, an aspiring and passionate web developer. I am a 4th-year Engineering Technology
            major in Computer Engineering Technology.
        </p>
        <p class="text-md">I found an interest in web development when I became curious about how search engines work. I
            am self-taught and started my journey during the time of the pandemic.
        </p>
        
        <div class="divider divider-neutral"></div>
        <div>
            <h2>Knowledge on:</h2>
            <div class="mt-5">
                <span data-tip="HTML5" class="tooltip tooltip-bottom"><i  class='bx bxl-html5 bx-md'></i></span>
                <span data-tip="NodeJS" class="tooltip tooltip-bottom"><i  class='bx bxl-nodejs bx-md'></i></span>
                <span data-tip="VueJS" class="tooltip tooltip-bottom"><i  class='bx bxl-vuejs bx-md'></i></span>
                <span data-tip="CSS3" class="tooltip tooltip-bottom"><i  class='bx bxl-css3 bx-md'></i></span>
                <span data-tip="PHP" class="tooltip tooltip-bottom"><i  class='bx bxl-php bx-md'></i></span>
                <span data-tip="Javascript" class="tooltip tooltip-bottom"><i  class='bx bxl-javascript bx-md'></i></span>
                <span data-tip="Git" class="tooltip tooltip-bottom"><i  class='bx bxl-git bx-md'></i></span>
                <span data-tip="Tailwind" class="tooltip tooltip-bottom"><i  class='bx bxl-tailwind-css bx-md'></i></span>
                <span data-tip="Boostrap 5" class="tooltip tooltip-bottom"><i  class='bx bxl-bootstrap bx-md'></i></span>
                <span data-tip="React" class="tooltip tooltip-bottom"><i  class='bx bxl-react bx-md'></i></span>
                <span data-tip="MongoDB" class="tooltip tooltip-bottom"><i  class='bx bxl-mongodb bx-md'></i></span>
                
            </div>
        </div>

        <div class="mt-5 bg-custom-950 p-4 rounded">
            <h2>Current Tech Stack:</h2>
            <div >
                <span>Tailwind, AlpineJS, Laravel, Livewire</span>
            </div>
        </div>

        <div x-data="stream" class="mt-5 p-4 rounded">
            <h2>Resume:</h2>
            <div >
                <button class="text-blue-500 text-sm" x-on:click="openResume('/public/Villarma_Resume.pdf')">Villarma-Resume.pdf</button>
            </div>
        </div>
    </div>

    <div data-aos="fade-up" class="col-span-1 md:col-span-4 space-y-2">
        <div class="bg-custom-900 rounded p-6 ">
            <h1 class="font-bold block mb-6 text-lg">Education</h1>
            <div class="leading-4 grid grid-cols-1 md:grid-cols-2 gap-8">

                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['2020-2024'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-12">
                    <p class="text-sm">Bachelor of Engineering Technology</p>
                    <p class="text-md">Technological Universiy of the Philippines Visayas</p>
                </div>

                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['2018-2020'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-12">
                    <p class="text-sm">Senior High School</p>
                    <p class="text-md">Kabankalan Catholic College</p>
                </div>
            </div>
        </div>

        <div class="bg-custom-900 rounded p-6 ">
            <h1 class="font-bold block mb-6 text-lg">Experience</h1>
            <div class="leading-4 grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['2022-Present'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-6">
                    <p class="text-sm">Freelancing</p>
                    <p class="text-md">Arduino Projects</p>
                </div>

                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['Dec2023-June2024'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-6">
                    <p class="text-sm">Full Stack Web Developer Intern</p>
                    <p class="text-md"> <a target="_blank" class="text-blue-400" href="https://yaramay.com/">Yaramay Computer Solution & Maintenenace</a></p>
                </div>

                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['July2023-Aug2023'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-6">
                    <p class="text-sm">System Analyst Intern</p>
                    <p class="text-md"> <a target="_blank" class="text-blue-400" href="https://software.pixel8.ph/">Pixel8 Web Solutions & Consultancy Inc.</a></p>
                </div>
            </div>
        </div>

        <div class="bg-custom-900 rounded p-6 ">
            <h1 class="font-bold block mb-6 text-lg">Certificates</h1>
            <div class="leading-4 grid grid-cols-1 md:grid-cols-2 gap-8">
                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['Javascript'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-6">
                    <p class="text-sm">Full Stack From Scratch</p>
                    <p class="text-md"><a target="_blank" class="text-blue-400" href="https://www.udemy.com/certificate/UC-055af576-8a6a-404f-9c83-87a710a7cb5e/?utm_source=sendgrid.com&utm_medium=email&utm_campaign=email">Udemy Course by Brad Schiff</a></p>
                </div>

                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['SQL'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-6">
                    <p class="text-sm">SQL Test</p>
                    <p class="text-md"><a class="text-blue-400" target="_blank" href="https://www.testdome.com/certificates/bbd25b4983ab463d869b52ba19c14c28">Testdome Certificate</a></p>
                </div>

                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['Javascript'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-6">
                    <p class="text-sm">Javascript Test</p>
                    <p class="text-md"><a class="text-blue-400" target="_blank" href="https://www.testdome.com/certificates/d477ed923f3f41caae6c73aaa0f1b322">Testdome Certificate</a></p>
                </div>

                <div class="relative bg-custom-950 p-3 rounded before:absolute before:min-w-min before:h-auto before:content-['HTML/CSS'] before:p-1 before:text-xs before:-top-4 before:-right-3 before:rounded before:shadow before:shadow-slate-500 before:rotate-6">
                    <p class="text-sm">HTML/CSS</p>
                    <p class="text-md"><a class="text-blue-400" target="_blank" href="https://www.testdome.com/certificates/73242ba8217c44d6b5029bf8e72022ae">Testdome Certificate</a></p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="footer"></div>
