<div data-aos="fade-up" class="z-50 mt-6 flex justify-center text-6xl items-center">
    <div class="flex flex-col space-y-10">
        <div  class="max-w-2xl font-extrabold">
            <span>Hi, I'M Ryan Villarma, a passionate Web Developer based in the Philippines.</span>
        </div>
    
        <div>
            <a class="tooltip tooltip-bottom" data-tip="Facebook" href="https://web.facebook.com/duhell08" target="_blank"> <i class='bx bxl-facebook bx-sm'></i></a>
            <a class="tooltip tooltip-bottom" data-tip="Linkedin" href="https://www.linkedin.com/in/ryanvillarma/" target="_blank"> <i class='bx bxl-linkedin bx-sm'></i></a>
            <a class="tooltip tooltip-bottom" data-tip="Github" href="https://github.com/Duhell" target="_blank"> <i class='bx bxl-github bx-sm'></i></a>
        </div>
    </div>
</div>