<footer class="flex justify-center mt-10 py-4">
    <div>
        <div class="space-x-5">
            <a class="tooltip tooltip-bottom" data-tip="Facebook" href="https://web.facebook.com/duhell08" target="_blank"> <i class='bx bxl-facebook bx-xs'></i></a>
            <a class="tooltip tooltip-bottom" data-tip="Linkedin" href="https://www.linkedin.com/in/ryanvillarma/" target="_blank"> <i class='bx bxl-linkedin bx-xs'></i></a>
            <a class="tooltip tooltip-bottom" data-tip="Github" href="https://github.com/Duhell" target="_blank"> <i class='bx bxl-github bx-xs'></i></a>
        </div>
        <div class="flex justify-center mt-3">
            <img src="/public/logo.png" alt="Ryan's Logo" width="24">
        </div>
    </div>
</footer>